header {
    color: white;
    text-align: center;
    background-color: darkslateblue;
    padding: 20px;
    justify-content: space-between;
    margin: 0;
    font-family: fantasy;
    font-style: oblique;
    font-size: 100px;
}
body {
    margin: 0;
    border-right: ridge 200px darkslateblue;
    border-left: groove 200px darkslateblue;
    border-bottom: solid 100px darkslateblue;
}


#h1 {
    text-align: center;
    color: blue;
    font-size: 50px;
    font-family: fantasy;

}

#h2 {
    text-align: center;
}

.book-container {

    display: flex;
    font-size: large;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 33%;
    max-width: 800px;
    margin: 0 auto;
    
    
    
}


.book {
    flex-basis: 100%;
    text-align: center;
    border: 20px solid black;
}

#hr {
    background-color: darkslateblue;
    padding: 20px;
    margin: 0;
    width: auto;
}

#form1 {
    background-color: darkslateblue;
    padding: 16px;
}

