<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <header>The Phil Mitchell Library
        <div class="row">
            <div class="column">
                <img id="img2" src="https://www.pngmart.com/files/15/Antique-Book-Stack-Transparent-Background.png" alt="">
            </div>
            <div class="column">
                <img id="img1" src="https://i2-prod.mirror.co.uk/incoming/article18972865.ece/ALTERNATES/s1200b/0_EH_CHP_200819phill-disowns_171JPG.jpg" alt="">
            </div>
            <div class="column">
                <img id="img3"src="https://www.pngmart.com/files/15/Antique-Book-Stack-Transparent-Background.png" alt="">
            </div>
    </header>
    
        
    </div>
    <h1 id="h1">Books List</h1>
    <h2 id="h2"><a href="books/new">Add New Book</a></h2>
    <hr id="hr">
<body>
    <section>
        <div class="book-container">
            {% for book in books %}
            
            <div class="book">
               <u>TITLE : </u><h2>{{ book.title }}</h2>
               <u>AUTHOR : </u><h3>{{ book.author }}</h3>
               <u>GENRE : </u><h4>{{ book.genre }}</h4>
               
               {% if book.checked_out %}
                <h5><i> Available : &#9989; </i></h5>
                    {% else %}
                <h5><i> Available : &#10060;</i></h5>
                Return by : <u><h5>{{ book.return_by }}</h5></u>
                {% endif %}

               <a href="/books/{{ books.index(book) }}">View Book</a>
                <div>
                <hr>
                </div>
                    <form id="form1" action="/books/delete/{{ books.index(book) }}" method="POST">
                    <input type="submit" value="DELETE">
                    </form>
                
            </div>
            
            {% endfor %}
        </div>
    </section>
</body>
</html>