<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>The Phil Mitchell Library
    <div class="row">
        <div class="column">
            <img id="img2" src="https://www.pngmart.com/files/15/Antique-Book-Stack-Transparent-Background.png" alt="">
        </div>
        <div class="column">
            <img id="img1" src="https://i2-prod.mirror.co.uk/incoming/article18972865.ece/ALTERNATES/s1200b/0_EH_CHP_200819phill-disowns_171JPG.jpg" alt="">
        </div>
        <div class="column">
            <img id="img3"src="https://www.pngmart.com/files/15/Antique-Book-Stack-Transparent-Background.png" alt="">
        </div>
</header>
<body>
    <form class="form-inline" action="/books" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">
        <label for="checked_out">Checked out?</label>
        <input type="checkbox" name="checked_out" id="checked_out" value="False">
        <input type="submit" value="Add Book">
    </form>
    
</body>
</html>